
@{
    ViewBag.Title = "Version";
    Layout = "~/Views/Shared/_Superadmin.cshtml";
}

<h2>Version</h2>

<ul>
    <li>Merged from staging branch on 9/8/19</li>
    <li>Merged from staging branch on 9/13/19</li>
    <li>Merged from staging branch on 9/14/19</li>
    <li>Made Service Ticket fit on a single page. 9/16/19</li>
    <li>Supported "other" supporting document with a textbox. 9/23/19</li>
    <li>Refactored printing of Service Tickets. 11/16/19</li>
    <li>Added today's date to service tickets. 11/17/2019</li>
    <li>Merged OPIDChecks with OPIDDaily. 2/6/2020</li>
    <li>Added CheckMaster user in BackOffice role. 2/7/2020</li>
    <li>Added support for Requested Item field in merging of OPID Daily, Bounded Research, and Import from Access DB reports. 2/17/2020</li>
    <li>Added Prepare Visits Only button. 2/18/2020</li>
    <li>Added support for Ancient Checks. 2/22/2020</li>
    <li>Added log4net for error logging. 3/5/2020</li>
    <li>Added support for pre-approved items. 3/6/2020</li>
    <li>Merged pre-appoved items support from staging branch on 3/9/2020</li>
    <li>Merged Remote OPID support from staging branch on 3/16/2020</li>
    <li>Added Client White Sheet Contact Info. 3/20/2020</li>
    <li>Added support for households. 3/24/2020</li>
    <li>Fixed Agency management. 3/26/2020</li>
    <li>Added demo capability. 4/2/2020</li>
    <li>Added service requests dashboard display. 4/4/2020</li>
    <li>Added "How it Works" instructions. 4/16/2020</li>
    <li>Copyright changed to Main Street Ministries. 4/17/2020</li>
    <li>Added color coding. 4/25/2020</li>
    <li>Created training site. 5/7/2020</li>
    <li>Added conversations. 5/16/2020</li>
    <li>Added virtual front desk. 5/30/2020</li>
    <li>Added pocket checks. 6/10/2020</li>
    <li>Removed Visits table. 6/13/2020</li>
    <li>Added Demographics. 1/30/2021</li>
    <li>Implemented cross-loading of OPID Daily Tracking file. 2/20/2021</li>
    <li>Added pocket checks report. 2/25/2021</li>
    <li>Added support for in-house text messaging. 3/4/2021</li>
    <li>Gift Cards Version 1.0.  9/2/2021</li>
    <li>Added GiftCardAdmin role.  9/6/2021</li>
    <li>Added Change Password.  9/8/2021</li>
    <li>Added Referring CM.  9/24/2021</li>
    <li>Upgraded Bootstrap from v3.4.1 to v5.1.0.  10/2/2021</li>
    <li>Upgraded to jQuery v3.6.0, downgraded Bootstrap from v5.1.0 to v3.4.1  10/4/2021</li>
    <li>Upgraded Bootstrap from v3.4.1 to v5.1.0. (Second time)  10/13/2021</li>
    <li>Added role of Vetter.  5/20/22</li>
    <li>Added Pocket Checks to Case Manager and Vetter roles.  6/10/2022</li>
</ul>

