

@{
    ViewBag.Title = "FrontDesk";
    Layout = "~/Views/Shared/_FrontDesk.cshtml";
}

<br /><br /><br />
<h2>Welcome to Here to Serve!</h2>

@Html.Partial("_HowItWorks")

<br /><br />
<a href="@Url.Content("~/FrontDesk/ChangePassword")" class="button">Change Password</a>