

@{
    ViewBag.Title = "Gift Cards";
    Layout = "~/Views/Shared/_GiftCardAdmin.cshtml";
}

<br /><br /><br />
<h2>Welcome to the Here to Serve website!</h2>

@Html.Partial("_HowItWorks")

<br /><br />
<a href="@Url.Action("ChangePassword", "GiftCards")" class="button">Change Password</a>
