

@{
    ViewBag.Title = "BackOffice";
    Layout = "~/Views/Shared/_BackOffice.cshtml";
}

<br /><br /><br />
<h2>Welcome to Here to Serve!</h2>

@Html.Partial("_HowItWorks")

<br /><br />
<a href="@Url.Content("~/BackOffice/ChangePassword")" class="button">Change Password</a>